// SPDX-FileCopyrightText: Copyright (c) 2024 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
// SPDX-License-Identifier: LicenseRef-NvidiaProprietary
//
// NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
// property and proprietary rights in and to this material, related
// documentation and any modifications thereto. Any use, reproduction,
// disclosure or distribution of this material and related documentation
// without an express license agreement from NVIDIA CORPORATION or
// its affiliates is strictly prohibited.

PRODUCT_BUNDLE_IDENTIFIER = com.nvidia.CloudXRViewer

DEVELOPMENT_TEAM = 6KR3T733EC

SUPPORTED_PLATFORMS = iphoneos iphonesimulator xros xrsimulator
TARGETED_DEVICE_FAMILY = 1,2,7  // iPhone, iPad, Apple Vision

CLANG_CXX_LANGUAGE_STANDARD = gnu++20
GCC_C_LANGUAGE_STANDARD = gnu17

IOS_FILES = *+iOS.*
VISIONOS_FILES = *+visionOS.*
EXCLUDED_SOURCE_FILE_NAMES = $(IOS_FILES) $(VISIONOS_FILES)
INCLUDED_SOURCE_FILE_NAMES =
INCLUDED_SOURCE_FILE_NAMES[sdk=iphone*] = $(IOS_FILES)
INCLUDED_SOURCE_FILE_NAMES[sdk=xr*] = $(VISIONOS_FILES)
