<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHandsTrackingUsageDescription</key>
	<string>Required to accurately place models, and streaming hand tracking data to a remote server.</string>
	<key>NSWorldSensingUsageDescription</key>
	<string>Needed to track model position in the world</string>
	<key>UIFileSharingEnabled</key>
	<true/>
</dict>
</plist>
